<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 新版 Compose 登录页 -->
        <activity
            android:name=".ui.activity.LoginComposeActivity"
            android:exported="false" />
        
        <!-- 旧版登录页（保留） -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
    </application>

</manifest>
